@model FutureValueModel

@{
    Layout = "_Layout";
}

    
    <h1>Investment Calculator</h1>
    <form asp-action="Index" method="post">
    <div>
        <label asp-for="MonthlyInvestment" class="form-label">Monthly Investment</label>
        <input asp-for="MonthlyInvestment" class="form-control" />
    </div>

    <div>
        <label asp-for="YearlyInvestment" class="form-label">Yearly Interest Rate</label>
        <input asp-for="YearlyInvestment" class="form-control"/>
    </div>

    <div>
        <label asp-for="Year" class="form-label">Years</label>
        <input asp-for="Year" class="form-control"/>
    </div>

    <div>
        <label class="form-label">Calculate</label>
        <input class="form-control" value="@ViewBag.FV.ToString("C")" readonly/>
    </div>
    <br />
    <div>  
        <button type="submit" class="btn btn-primary">Calculate</button>
        <a asp-action="Index" class="btn btn-secondary">Clear</a>
    </div>
    </form>

